@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(73, 73, 73);
}
.header{
    background-color: rgb(158, 255, 158);
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}
.maincontent{
    margin: 0px;
    padding: 0px;
    margin-bottom: 200px;
    color: white;
}
.aboutus-content{
    margin: 0px;
    padding: 15px;
}
.outerfooter{
    margin: 0px;
    height: 200px;
    padding: 0px 30px;
    background-color: lightgoldenrodyellow;
    overflow: hidden;
}
.footer-addr{
    float: left;
    width: 33%;
    text-align: left;
}
.footer-cont{
    float: left;
    width: 33%;
    text-align: center;
}
.footer-cred{
    float: left;
    width: 33%;
    text-align: right;
}
.footerdivheader{
    font-size: 21px;
}
.footerpush{
    height: 200px;
}